body {
	background-color: #f3f3f3;
}

.search-bar {
	color: #a3a3a3;
	font-size: 50px;
	height: 70px;
	margin: auto ;
	margin-top: 20px;
	width: 50%;
}

.search-bar input {
	height: 70px;
	font-size: inherit;
}

.search-bar button {
	height: 70px;
	width: 70px;
	font-size: 40px;
}

/************	Carousel	*********/
.carousel-wrapper {
    background-color: white;
    height: 37%;
    margin-top: 5%;
    padding-top: 1%;
}

.carousel-wrapper h1 {
    padding-left: 2%;
}

.item {
    margin: 20px;
}
