ul{
	background-color: lightgrey;
}

.nav-tabs > li.active{
	border: none;
	background-color: white;
}

.nav-tabs > li > a{
	padding-top: 12%;
	padding-bottom: 12%;
	font-size: 50px;
}

.bid-section{
	margin-top: 8%;
	overflow: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
	font-size: 60px;
	clear: both;
	background-color: black;
}

.bid-section p{
	float: left;
}

.bid-section span{
	float: right;
}

.item {
	float: left;
	/*margin-right: 10% !important;*/
	margin: 7% !important;

}

.item-text {
	font-size: 30px;
	margin-bottom: 20px;
}

.item-text h4{
	font-size: 30px;
}

#winning-bids{
	margin-top: 100px;
}

#profile{
	font-size: 70px;
}

#profile p{
	margin-top: 10%;
	margin-left: 10%;
}

#save{
	margin-top: 5%;
	margin-left: 28%;
}