/* Navbar modifications for web */
.navbar{
	height:5%;
}

.navbar-brand {
	padding-top: 5px;
}

.navbar-brand h2 {
	margin :0;
	font-size: 1em;
}

.nav-img {
	height: 40px;
	width: 40px;
	margin-top: 5px;
}

#name {
	font-size: 1.2em;
	margin: 0;
}
/* End navbar modifications for web*/

/*Tab section*/

.nav-tabs > li > a{
	font-size: 30px;
}

/* My Bids  --------------------*/
.bid-section{
	font-size: 40px;
}

.item img {
	width: 200px;
	height: 200px;
}

.item-text {
	font-size: 15px;
	margin-bottom: 20px;
}

.item-text h4{
	font-size: 15px;
}


/* Profile --------------------*/

#profile{
	font-size: 15px;
}

.underline_input{
	font-size: 15px;
	border: 0px solid transparent;
	border-bottom: 2px solid #000000;
	display: block;
	margin-left: 20%;
	margin-top: 5%;
}


.popup .popuptext{
	font-size: 15px;
}

.popuptext h2{
	font-size: 20px;
}

/* admin --------------------*/
.auction-name {
	margin: 5%;
}

.btn {
	white-space: normal;
	padding: 0;
}

h4 {
	margin-top:0;
}

.square-button {
	background-color: #0097a7;
	color: white;
	width: 100px;
	height: 100px;
	margin-right: 7%;
}

.yellow-button {
	background-color: #ffab40 !important;
	color: black;
	width: 100px;
	height: 60px;
	margin: 7%;
	margin-left: 0;
}

.btn-plus {
	background-color: black;
	color: white;
	width: 30px;
	height: 30px;
	float: left;
	margin: 15px;
	margin-top: 2.5%;
}

#end-time {
	float: left;
	margin-left: 10px;
	width: 30%;
}

#time {
	width:100px;
}

#date {
	width:100px;
}

#start-auction {
	float: left;
}

#save-auction {
	width: 220px;
}

.container h1 {
	float: left;
}

.upload-items {
	position: relative;
    overflow: hidden;
    margin: 10px;
}

#fileElem {
	visibility: hidden ;
}

.upload-items input{
	/*From http://geniuscarrier.com/how-to-style-a-html-file-upload-button-in-pure-css/*/
	position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
 	height: 60px;
    filter: alpha(opacity=0);
}