<!DOCTYPE HTML>

<html>
	<head>
	{% load static %}
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}"> -->
		<link rel="stylesheet" href="{% static 'CSS/navbar.css' %}"/>
		<link rel="stylesheet" href="{% static 'CSS/login.css' %}">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{% static 'JS/login.js' %}"></script>
	</head>

	<nav class="navbar">
  		<div class="container-fluid">
	  		<div class="navbar-left">
	  			<a href="#">
	  				<img class="nav-img" src="{% static 'img/home1.png' %}">
	  			</a>
	  		</div>

	  		<div class="navbar-brand navbar-center">
	    		<h2 id="name">Bidly</h2>
	    		<h2>Time Remaining: {{time_remaining}}</h2>
	  		</div>


	  		<div class="navbar-right">
	  			<a href="#">
	  				<img class="nav-img" src="{% static 'img/profile1.png' %}">
			  	</a>
	  		</div>
  		</div>
	</nav>

	<ul class="nav nav-tabs nav-justified" id="login-tabs">
		<li class="active"> <a data-toggle="tab" href="#login"> Login </a></li>
		<li> <a data-toggle="tab" href="#register"> Create Account </a></li>
	</ul>

	<div class="tab-content">
		<div id="login" class="tab-pane fade in active">
			<p><input class="underline_input" placeholder="username"/></p>
			<p><input class="underline_input" placeholder="password"></input></p>
			<button type="submit"> Login </button>
		</div>
		<div id="register" class="tab-pane fade">
			<p><input class="underline_input" placeholder="e-mail"></p>
			<p> Phone: (<input class="underline_input phone_num" maxlength="3" placeholder="XXX" />) <input class="underline_input phone_num" maxlength="3" placeholder="XXX"/> - <input class="underline_input phone_num" maxlength="4" id="last_num" placeholder="XXXX"/></p>
			<p><input class="underline_input" placeholder="username"></p>
			<p><input class="underline_input" placeholder="password"></p>
			<button type="submit"> Register </button>
		</div>
	</div>

</html>	