<!DOCTYPE HTML>

<html>
	<head>
		{% load static %}
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
		<link rel="stylesheet" href="{% static 'CSS/navbar.css' %}">
		<!-- <link href="{% static 'CSS/profile.css' %}" rel="stylesheet"> -->
		 <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}{{css_path}}">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{% static 'JS/profile.js' %}" type="text/javascript"></script>
	</head>
<body>
	<nav class="navbar">
		<div class="container-fluid">
	  		<div class="navbar-left">
	  			<a href="/home/">
	  				<img class="nav-img" src="{% static 'img/home1.png' %}">
	  			</a>
	  		</div>

	  		<div class="navbar-brand navbar-center">
	    		<h2 id="name">Bidly</h2>
	    		<h2>Time Remaining: {{time_remaining}}</h2>
	  		</div>


	  		<div class="navbar-right">
	  			<a href="/profile/">
	  				<img class="nav-img" src="{% static 'img/profile1.png' %}">
			  	</a>
	  		</div>
		</div>
	</nav>

	<ul class="nav nav-tabs nav-justified" id="main-tabs">
		<li class="active"> <a data-toggle="tab" href="#my-bids"> My Bids </a></li>
		<li> <a data-toggle="tab" href="#profile"> Profile </a></li>
	</ul>

	<div class="tab-content">
		<div id="my-bids" class="tab-pane fade in active">
			{% if not mobile %}
			<div class="container">
			  <div class="row">
			    <div class="col-md-6">
			    	{% endif %}
					<div class="bid-section" style="background-color:lightblue">
						<p>Winning Bids</p>
						<span class="glyphicon glyphicon-chevron-left" id="win-chevron" type="button" data-toggle="collapse" data-target="#winning-bids" aria-expanded="false"></span>
						<div class="collapse" id="winning-bids">
						{% for item in winning_bids %}
							<div class="item container" id="{{item.id}}">
								<img class="outline" src="{% get_static_prefix %}{{item.image_path}}" alt="" style="">
								<div class="item-text outline">
								<p>
								<h4>{{ item.name }}</h4>
								<div class='current-bid'></div><br>
								{{ item.description }}
								</p>
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
				{% if not mobile %}
				</div>
				{% endif %}
				{% if not mobile %}
			    <div class="col-md-6">
				{% endif %}
					<div class="bid-section" style="background-color:orange">
						<p>Losing Bids</p>
						<span class="glyphicon glyphicon-chevron-left" id="lose-chevron" type="button" data-toggle="collapse" data-target="#losing-bids" aria-expanded="false"></span>
						<div class="collapse" id="losing-bids">
						{% for item in losing_bids %}
							<div class="item container" id="{{item.id}}">
								<img class="outline" src="{% get_static_prefix %}{{item.image_path}}" alt="" style="">
								<div class="item-text outline">
								<p>
								<h4>{{ item.name }}</h4>
								<div class='current-bid'></div><br>
								{{ item.description }}
								</p>
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
		{% if mode == "desktop" %}
				</div>
			</div>
		</div>
		{% endif %}
		</div>
		<div id="profile" class="tab-pane fade">
			<input id="email" type="text" name="email" value="" class="underline_input" placeholder=""/>
			<input id="phone_number" type="text" name="phone_number" value="" class="underline_input" placeholder=""/>
			<input id="username" type="text" name="username" value="" class="underline_input" placeholder=""/>
			<div class="popup">
				<span class="popuptext" id="pwpopup">
					<h2>Change Your Password</h2>
					<form id="pw-form" method="post" action="/changepw/" enctype="multipart/form-data">
						<input type="password" name="oldpw" value="" class="underline_input" placeholder="current password"/>
						<input type="password" name="newpw" value = "" class="underline_input" placeholder="new password"/>
						<input type="password" name="confirmpw" value="" class="underline_input" placeholder="confirm password">
						<input type="submit" name="submit" value="Save Password"/>
					</form>
				</span>
			</div>
			<p>Password: *******</p>
			<button id="save" type="submit">Save Changes</button>
			<button id="change-pw">Change Password</button>
		</div>
	</div>
</body>
</html>
